

.login{
    background-color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.left{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50vw;
    display: flex;
    justify-content: center;
    background-color:rgb(255, 255, 255) ;
    margin-top: 80px;
    margin-bottom: 100px;
}

.left > img{
    width: 800px;
    height: 800px;
    background-color: white;
}

.right{
    margin-left: 50vw ;
    width: 50vw;
    display: flex;
    align-items: center;
}


.login-input{
    margin-left: 130px;
}

.login-input > img{
    margin: 20px 0;
    height: 35px;
}

.login-input-input{
    margin-top: 25px ;  
    font-weight: 700;  
}

.login-input-input > input{
    width: 350px;
    height: 35px;
    border-radius: 5px;
    border: 0.5px solid rgba(104, 104, 104,0.5);
    padding: 5px;
}

.login-button{
    margin-top: 35px ;
    width: 350px;
    height: 35px;
    background-color: #33b5e5;
    border:none;
    color: white;
    font-weight: 500;
}
